Repository fdhhhdjd/Web-Online-School-Libary-Book, pull requests merged in 2023-02, with the labels that each got.

#112 #71 create category page
  backend-manager-student/docker-compose-dev.yml
  backend-manager-student/dockerfile.redis.dev
  frontend-manager-student/package-lock.json
  frontend-manager-student/package.json
  frontend-manager-student/src/App.js
  frontend-manager-student/src/components/Layout/Navbar/index.jsx
  frontend-manager-student/src/components/Layout/Sidebar/index.jsx
  frontend-manager-student/src/components/Layout/Sidebar/style.scss
  frontend-manager-student/src/pages/Customer/CategoryPage/index.jsx
  frontend-manager-student/src/pages/Customer/CategoryPage/index.scss
  frontend-manager-student/src/pages/Customer/Home/index.jsx
  frontend-manager-student/src/pages/Customer/Home/style.scss
  frontend-manager-student/src/routers/index.js
  frontend-manager-student/src/styles/_responsive.scss
  frontend-manager-student/src/styles/_typography.scss
  frontend-manager-student/src/styles/style.scss
Labels: DEV Processing

#113 Developer
  backend-manager-student/docker-compose-dev.yml
  backend-manager-student/docker-compose.yml
  backend-manager-student/dockerfile.redis
  backend-manager-student/dockerfile.redis.dev
  backend-manager-student/setup/redis.conf
Labels: DEV Processing

#115 Developer
  frontend-manager-student/package-lock.json
  frontend-manager-student/package.json
  frontend-manager-student/src/App.js
  frontend-manager-student/src/components/Layout/Navbar/index.jsx
  frontend-manager-student/src/components/Layout/Sidebar/index.jsx
  frontend-manager-student/src/components/Layout/Sidebar/style.scss
  frontend-manager-student/src/pages/Customer/CategoryPage/index.jsx
  frontend-manager-student/src/pages/Customer/CategoryPage/index.scss
  frontend-manager-student/src/pages/Customer/Home/index.jsx
  frontend-manager-student/src/pages/Customer/Home/style.scss
  frontend-manager-student/src/routers/index.js
  frontend-manager-student/src/styles/_responsive.scss
  frontend-manager-student/src/styles/_typography.scss
  frontend-manager-student/src/styles/style.scss
Labels: DEV Processing

#117 #116 [Backend] Add Multi Student
  backend-manager-student/.eslintrc.js
  backend-manager-student/.jest/defaultTimeout.js
  backend-manager-student/Dockerfile
  backend-manager-student/Dockerfile.dev
  backend-manager-student/jest.config.js
  backend-manager-student/src/admin_api/v1/Swagger/admin_api/admin.swagger.yaml
  backend-manager-student/src/admin_api/v1/controllers/admin.controller.js
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/configs/regex.js
  backend-manager-student/src/share/models/user.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/password.js
  backend-manager-student/test/v1/admin_api/admin.test.js
  backend-manager-student/test/v1/admin_api/request.admin.js
  backend-manager-student/test/v1/configs/constants.js
Labels: Success-Backend

#118 #116 [Backend] Add Multi Student
  backend-manager-student/src/admin_api/v1/controllers/admin.controller.js
Labels: Success-Backend

#121 #119 [backend] login student
  backend-manager-student/.eslintrc.js
  backend-manager-student/.gitignore
  backend-manager-student/package.json
  backend-manager-student/src/admin_api/app.js
  backend-manager-student/src/admin_api/v1/controllers/admin.controller.js
  backend-manager-student/src/share/configs/config.js
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/configs/regex.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/services/geo.service.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/token.js
  backend-manager-student/src/user_api/app.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/v1/admin_api/admin.test.js
  backend-manager-student/test/v1/admin_api/request.admin.js
  backend-manager-student/test/v1/configs/config.js
  backend-manager-student/test/v1/configs/constants.js
  backend-manager-student/test/v1/user_api/request.user.js
  backend-manager-student/test/v1/user_api/user.test.js
  backend-manager-student/test/v1/utils/helper.js
Labels: Success-Backend

#122 Developer
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#124 #123 [Backend] Renew Token and Logout BlackList Student
  .vscode/settings.json
  backend-manager-student/dockerfile.redis
  backend-manager-student/dockerfile.redis.dev
  backend-manager-student/package.json
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/middleware/access.student.middleware.js
  backend-manager-student/src/share/middleware/device.middleware.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/share/utils/token.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/v1/user_api/request.user.js
  backend-manager-student/test/v1/user_api/user.test.js
  backend-manager-student/test/v1/utils/helper.js
Labels: Success-Backend

#125 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/src/share/models/user_device.model.js
Labels: Success-Backend

#126 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#132 #127 [Backend] Account Profile Student
  backend-manager-student/.eslintrc.js
  backend-manager-student/src/admin_api/v1/Swagger/admin_api/admin.swagger.yaml
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/configs/regex.js
  backend-manager-student/src/share/middleware/access.student.middleware.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/v1/configs/constants.js
  backend-manager-student/test/v1/user_api/request.user.js
  backend-manager-student/test/v1/user_api/user.test.js
Labels: Success-Backend

#133 #51 [Backend] Setup Server Media
  backend-manager-student/Dockerfile.postgres.dev
  backend-manager-student/docker-compose-dev.yml
  server-media-service/src/media-service/v1/Swagger/media_api/media.swagger.yaml
Labels: Success-Backend

#135 #128 [Backend] Change,Check Password Student
  backend-manager-student/.eslintrc.js
  backend-manager-student/.gitignore
  backend-manager-student/src/share/models/user.model.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/jest/.env.example
  backend-manager-student/test/v1/configs/constants.js
  backend-manager-student/test/v1/user_api/request.user.js
  backend-manager-student/test/v1/user_api/user.test.js
Labels: Success-Backend

#137 #136 [Backend] BlackList,Block account System Student
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#138 #136 [Backend] BlackList,Block account System Student
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#139 #136 [Backend] BlackList,Block account System Student
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#140 #136 [Backend] BlackList,Block account System Student
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#142 Developer
  backend-manager-student/docker-compose-dev.yml
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/share/utils/redis_cluster_helper.js
  backend-manager-student/src/share/utils/redis_pub_sub_helper.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  server-send-email-student/docker-compose.yml
  server-send-email-student/package.json
  server-send-email-student/src/send_email_user/app.js
  server-send-email-student/src/send_email_user/v1/admin_api/services/email_sender_admin/email_sender_user.js
  server-send-email-student/src/send_email_user/v1/redis_sub_queue.js
  server-send-email-student/src/send_email_user/v1/user_api/services/email_sender_users/email_sender_user.js
  server-send-email-student/src/share/assets/logo/logo.png
  server-send-email-student/src/share/configs/constants.js
  server-send-email-student/src/share/configs/email_template.js
  server-send-email-student/src/share/db/redis_db.js
  server-send-email-student/src/share/middlewares/middleware.js
  server-send-email-student/src/share/utils/limited_redis.js
  server-send-email-student/src/share/utils/redis_pub_sub_helper.js
  server-send-email-student/src/share/views/user_views/warning_account_by_hacker.html
Labels: Success-Backend

#143 #136 [Backend] BlackList,Block account System Student
  backend-manager-student/.eslintrc.js
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/services/user_service/user_service.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#144 #129 [Backend] Forget Password Student
  backend-manager-student/src/share/configs/config.js
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/utils/password.js
  backend-manager-student/src/share/utils/redis_pub_sub_helper.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
  backend-manager-student/src/user_api/v1/routes/users/user.private.route.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  server-send-email-student/src/send_email_user/v1/redis_sub_queue.js
  server-send-email-student/src/send_email_user/v1/user_api/services/email_sender_users/email_sender_user.js
  server-send-email-student/src/share/configs/constants.js
  server-send-email-student/src/share/configs/email_template.js
  server-send-email-student/src/share/configs/regex.js
  server-send-email-student/src/share/utils/helpers.js
  server-send-email-student/src/share/views/user_views/link_reset_password_student.html
Labels: Success-Backend

#145 #129 [Backend] Forget,Reset Password Student
  backend-manager-student/Dockerfile.postgres.dev
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/v1/user_api/request.user.js
Labels: Success-Backend

#146 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/.env.example
  backend-manager-student/src/share/configs/config.js
  backend-manager-student/src/share/middleware/access.student.middleware.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/password.js
  backend-manager-student/src/share/utils/token.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend

#147 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/src/share/utils/password.js
Labels: Success-Backend

#148 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/src/admin_api/v1/controllers/admin.controller.js
  backend-manager-student/src/share/middleware/handle_error.js
  backend-manager-student/src/share/models/user.model.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/share/utils/redis_cluster_helper.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
Labels: Success-Backend

#149 #123 [Backend] Renew Token and Logout BlackList Student
  backend-manager-student/.eslintrc.js
  backend-manager-student/src/admin_api/v1/controllers/admin.controller.js
  backend-manager-student/src/share/middleware/handle_error.js
  backend-manager-student/src/share/models/user.model.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/share/utils/limited_redis.js
  backend-manager-student/src/share/utils/redis_cluster_helper.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
Labels: Success-Backend

#150 Bao fe
  README.md
  backend-manager-student/Dockerfile.postgres.dev
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  backend-manager-student/test/v1/user_api/request.user.js
  frontend-manager-student/.prettierrc
  frontend-manager-student/package-lock.json
  frontend-manager-student/package.json
  frontend-manager-student/src/assets/boxicons-2.0.7/LICENSE.txt
  frontend-manager-student/src/assets/boxicons-2.0.7/css/animations.css
  frontend-manager-student/src/assets/boxicons-2.0.7/css/boxicons.css
  frontend-manager-student/src/assets/boxicons-2.0.7/css/boxicons.min.css
  frontend-manager-student/src/assets/boxicons-2.0.7/css/transformations.css
  frontend-manager-student/src/assets/boxicons-2.0.7/fonts/boxicons.eot
  frontend-manager-student/src/assets/boxicons-2.0.7/fonts/boxicons.svg
  frontend-manager-student/src/assets/boxicons-2.0.7/fonts/boxicons.ttf
  frontend-manager-student/src/assets/boxicons-2.0.7/fonts/boxicons.woff
  frontend-manager-student/src/assets/boxicons-2.0.7/fonts/boxicons.woff2
  frontend-manager-student/src/components/Header/index.jsx
  frontend-manager-student/src/components/Layout/Layout.jsx
  frontend-manager-student/src/components/Layout/Navbar/index.jsx
  frontend-manager-student/src/components/Layout/Navbar/style.scss
  frontend-manager-student/src/components/Layout/Sidebar/index.jsx
  frontend-manager-student/src/components/Layout/Sidebar/style.scss
  frontend-manager-student/src/components/Layout/style.scss
  frontend-manager-student/src/index.js
  frontend-manager-student/src/pages/Customer/Auth/Login/index.jsx
  frontend-manager-student/src/pages/Customer/Auth/Login/style.scss
  frontend-manager-student/src/pages/Customer/CategoryPage/index.jsx
  frontend-manager-student/src/pages/Customer/CategoryPage/index.scss
  frontend-manager-student/src/pages/Customer/Home/index.jsx
  frontend-manager-student/src/routers/index.js
  frontend-manager-student/src/styles/_base.scss
  frontend-manager-student/src/styles/_mixin.scss
  frontend-manager-student/src/styles/_responsive.scss
  frontend-manager-student/src/styles/_typography.scss
  frontend-manager-student/src/styles/_variable.scss
  frontend-manager-student/src/styles/body.scss
  frontend-manager-student/src/styles/components/_header.scss
  frontend-manager-student/src/styles/style.scss
  package-lock.json
  package.json
Labels: Success-Frontend

#153 Developer
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/middleware/access.student.middleware.js
  backend-manager-student/src/share/models/user_device.model.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/models/user_verification.model.js
  backend-manager-student/src/share/services/user_service/verification.service.js
  backend-manager-student/src/share/utils/helper.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.private.route.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
Labels: DEV Processing

#154 #152 [Backend] Check Email Verification Student
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/user_api/v1/Swagger/user_api/user.swagger.yaml
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/users/user.private.route.js
  backend-manager-student/src/user_api/v1/routes/users/user.route.js
  server-send-email-student/src/send_email_user/v1/redis_sub_queue.js
  server-send-email-student/src/send_email_user/v1/user_api/services/email_sender_users/email_sender_user.js
  server-send-email-student/src/share/configs/constants.js
  server-send-email-student/src/share/views/user_views/link_verification_email_student.html
Labels: Success-Backend

#155 #71 homepage
  frontend-manager-student/package-lock.json
  frontend-manager-student/package.json
  frontend-manager-student/src/App.js
  frontend-manager-student/src/assets/icons/left-arrow.svg
  frontend-manager-student/src/assets/icons/right-arrow.svg
  frontend-manager-student/src/components/BookCard.jsx
  frontend-manager-student/src/components/Button.jsx
  frontend-manager-student/src/components/CategoryCard.jsx
  frontend-manager-student/src/components/Grid.jsx
  frontend-manager-student/src/components/Header.jsx
  frontend-manager-student/src/components/Helmet.jsx
  frontend-manager-student/src/components/Layout.jsx
  frontend-manager-student/src/components/Loading.jsx
  frontend-manager-student/src/components/Section.jsx
  frontend-manager-student/src/components/Slider/Arrow.jsx
  frontend-manager-student/src/components/Slider/Dots.jsx
  frontend-manager-student/src/components/Slider/Slide.jsx
  frontend-manager-student/src/components/Slider/Slider.jsx
  frontend-manager-student/src/components/Slider/SliderContent.jsx
  frontend-manager-student/src/imports/home_import/index.js
  frontend-manager-student/src/index.js
  frontend-manager-student/src/pages/Customer/Home/index.jsx
  frontend-manager-student/src/pages/Customer/Home/style.scss
  frontend-manager-student/src/routers/index.js
  frontend-manager-student/src/styles/_base.scss
  frontend-manager-student/src/styles/_mixin.scss
  frontend-manager-student/src/styles/_variable.scss
  frontend-manager-student/src/styles/components/_book-card.scss
  frontend-manager-student/src/styles/components/_button.scss
  frontend-manager-student/src/styles/components/_category.scss
  frontend-manager-student/src/styles/components/_header.scss
  frontend-manager-student/src/styles/components/_section.scss
  frontend-manager-student/src/styles/components/_slider.scss
  frontend-manager-student/src/styles/style.scss
Labels: DEV Processing

#157 #130 [Devops] Setup Limit Request API
  backend-manager-student/src/share/configs/config.js
  backend-manager-student/src/share/middleware/rate_limit.middleware.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
  backend-manager-student/src/user_api/v1/routes/index.router.js
Labels: Success-Devops

#160 #159 [Cront - Backend] Run Cron API Student
  backend-manager-student/src/cron_job/cron.js
  backend-manager-student/src/cron_job/v1/controllers/cron.controller.js
  backend-manager-student/src/cron_job/v1/cron_student/controllers/cron_reset_password.controller.js
  backend-manager-student/src/cron_job/v1/cron_student/controllers/cron_verification.controller.js
  backend-manager-student/src/share/configs/constants.js
  backend-manager-student/src/share/models/user_reset_password.model.js
  backend-manager-student/src/share/models/user_verification.model.js
  backend-manager-student/src/share/services/user_service/verification.service.js
  backend-manager-student/src/user_api/v1/controllers/user.controller.js
Labels: Success-Backend
